.inheritance {
  padding: 10%;
}

#alignedContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.announcement {
  margin: 15px;
}

.eredityInput {
  border-color: #68d9f8;
  border-radius: 50px;
  width: 50px;
  height: 30px;
  margin: 15px;
  padding: 0 30px 0 30px;
  text-align: center;
}

#contentMargin {
  margin: 30px;
}

#contentPadding {
  padding: 30px;
}